$break-md-2: 700px;
$break-md: 900px;
$break-lg: 1100px;

.container {
  display: flex;

  @media screen and (min-width: $break-md) {
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}

.card {
  display: flex;
  min-height: 620px;
  flex-basis: 100%;
  flex-direction: column-reverse;
  background-color: white;
  border-radius: 20px;
  margin: 40px 20px;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);

  @media screen and (min-width: $break-md) {
    flex-basis: auto;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 20px;
    overflow: hidden;
    border: none;
  }

  svg {
    color: white;
    border-radius: 100%;
    padding: 15px;
    font-size: 2.5rem;
    cursor: pointer;
    transition: transform 200ms ease-in-out;
    margin-bottom: 20px;
  }

  svg:hover {
    transform: scale(1.2);
  }

  .linkedin svg {
    background-color: #0077b5;
    margin-right: 20px;
  }

  .github svg {
    background-color: black;
    // margin-right: 20px;
  }

  .email svg {
    background-color: #5a5ab3;
  }
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infoContainer {
  padding: 0 20px 0;

  @media screen and (min-width: $break-md) {
    padding: 40px;
  }
}

.profile {
  padding: 20px 20px 0;

  @media screen and (min-width: $break-md) {
    padding: 40px;
  }
}

.infoContainer {
  @media screen and (min-width: $break-md) {
    padding-top: 60px;
    background-color: white;
  }
}

.profilePicContainer {
  bottom: 0;
  border-radius: 100%;
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
  margin-bottom: 40px;
  border: 2px solid #fce6c3;
  background: white;

  @media screen and (min-width: $break-md) {
    width: 300px;
    height: 300px;
    border: none;
    margin-bottom: 60px;
  }

  img {
    position: absolute;
    top: 20px;
    right: -81px;

    @media screen and (min-width: $break-md) {
      top: 90px;
      right: -35px;
    }
  }
}

.profilePic {
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 2;
  background-size: 150px;
  width: 150px;
  height: 150px;

  @media screen and (min-width: $break-md) {
    width: 300px;
    height: 300px;
    background-size: 300px;
  }
}

.info {
  margin-bottom: 20px;

  @media screen and (min-width: $break-md) {
    max-width: 400px;
  }

  h2 {
    margin-bottom: 4px;
  }

  p {
    margin-top: 20px;
  }

  hr {
    height: 2px;

    &:first-of-type {
      margin-bottom: 6px;
      max-width: 370px;
    }

    &:last-of-type {
      max-width: 180px;
    }
  }
}
