$break-md: 900px;
$break-lg: 1100px;

.container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.headerBackground {
  background-color: #5a5ab3;
  overflow-x: hidden;

  p,
  h1,
  h2 {
    color: #fff;
  }
}

.menu {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding: 20px 0;
  width: 100%;

  img {
    width: 100px;
    height: 100%;
  }

  img:first-of-type {
    width: 80px;
  }
}

.spacer {
  width: 400px;
  height: 300px;
}

.header {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;

  @media screen and (min-width: $break-lg) {
    max-width: 1000px !important;
  }

  @media screen and (min-width: $break-md) {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    max-width: 600px;
  }

  h2 {
    margin-bottom: 8px;
  }

  p {
    line-height: 30px;
  }

  p:first-of-type {
    margin-bottom: 10px;
  }

  p:last-of-type {
    margin-bottom: 20px;
  }
}

.profilePicContainer {
  right: 20%;
  position: absolute;
  bottom: 0;

  @media screen and (min-width: $break-md) {
    position: absolute;
    bottom: 0;
    right: 20px;
  }

  img {
    position: absolute;
    bottom: 0;
    transform: translate(-10%, 32%);
  }
}

.profilePic {
  width: 300px;
  height: 300px;
  background-position: center center;
  background-size: 300px;
  background-repeat: no-repeat;
  position: relative;
  z-index: 2;
}

.tagline {
  max-width: 400px;
  margin-bottom: 20px;

  hr {
    height: 2px;

    &:first-of-type {
      margin-bottom: 6px;
      max-width: 370px;
    }

    &:last-of-type {
      max-width: 180px;
    }
  }
}
